/* Horizontal */
/* Vertical */
body {
  background-color: #ebebeb;
}

ul {
  margin: 0;
  padding: 0;
}

ul > li:not(.list__item--bullets) {
  list-style-type: none;
}

a {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 12px;
  cursor: pointer;
  box-shadow: none;
  user-select: none;
  text-align: center;
}

.button {
  height: 36px;
  border-radius: 2px;
  padding: 0 10px;
}

.button--red {
  color: #FFFFFF;
  background-color: #FF0042;
  transition: background-color 0.2s ease;
}

.button--red:hover, .button--red:focus {
  cursor: pointer;
  background-color: #e0003a;
}

.link {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link--light {
  color: #FFFFFF;
}

.link--dark {
  color: #101419;
}

.link--offwhite {
  color: rgba(255, 255, 255, 0.54);
}

.link--offwhite:hover, .link--offwhite:focus, .link--offwhite.active {
  color: #FFFFFF;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.no-select {
  user-select: none;
}

.indicator {
  color: #FFFFFF;
  background: #F0506E;
  text-align: center;
  border-radius: 8px;
}

.indicator--small {
  width: 26px;
  height: 12px;
  font-size: 9px;
  line-height: 1.4;
}

.indicator--rounded {
  width: 16px;
  height: 16px;
  font-size: 9px;
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
