/* Horizontal */
/* Vertical */
ul {
  margin: 0;
  padding: 0;
}

ul > li:not(.list__item--bullets) {
  list-style-type: none;
}

a {
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  cursor: pointer;
}

.button {
  height: 36px;
  border-radius: 2px;
  padding: 0 10px;
}

.button--red {
  color: #FFFFFF;
  background-color: #FF0042;
  transition: background-color 0.2s ease;
}

.button--red:hover, .button--red:focus {
  cursor: pointer;
  background-color: #e0003a;
}

.link {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link--light {
  color: #FFFFFF;
}

.link--dark {
  color: #101419;
}

.link--offwhite {
  color: rgba(255, 255, 255, 0.54);
}

.link--offwhite:hover, .link--offwhite:focus, .link--offwhite.active {
  color: #FFFFFF;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.indicator {
  color: #FFFFFF;
  background: #F0506E;
  font-size: 9px;
  text-align: center;
}

.indicator:not(.indicator--rounded) {
  width: 26px;
  height: 12px;
  border-radius: 8px;
}

.indicator--rounded {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
