html {
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Horizontal */
/* Vertical */
/* Horizontal */
/* Vertical */
ul {
  margin: 0;
  padding: 0;
}

ul > li:not(.list__item--bullets) {
  list-style-type: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 12px;
  cursor: pointer;
}

.button {
  height: 36px;
}

.link {
  text-decoration: none;
}

.link--light {
  color: #FFFFFF;
}

.link--dark {
  color: #101419;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle {
  border-radius: 50%;
}

.indicator {
  color: #FFFFFF;
  background: #F0506E;
  font-size: 9px;
  font-weight: 700;
  text-align: center;
}

.indicator:not(.indicator--rounded) {
  width: 26px;
  height: 12px;
  border-radius: 8px;
}

.indicator--rounded {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.header-main {
  background-image: linear-gradient(135deg, #1A60A8 0%, #134577 60%, #101419 100%);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1281px) {
  .menu {
    width: calc(100% - 142px);
    height: 62px;
    margin-left: 20px;
  }
}

.menu__wrapper {
  flex: 0 0 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu__item > a:not(.active) {
  color: rgba(255, 255, 255, 0.54);
}

.menu__item > a.active {
  color: #FFFFFF;
}

.menu__item > a + .indicator {
  display: inline-block;
}

.user-actions__wrapper {
  flex: 0 0 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.user-actions__item {
  height: 36px;
  margin: 0 12px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-actions__item .offers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  background-color: #232B36;
}

.user-actions__item .offers__icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
}

.user-actions__item .offers__indicator {
  position: absolute;
  top: -6px;
  right: -6px;
}

@media only screen and (min-width: 1281px) {
  .user-actions__item .offers__text {
    display: none;
  }
}

.user-actions__item .balance {
  margin-right: 8px;
  white-space: nowrap;
}

.user-actions__item .deposit {
  color: #FFFFFF;
  background-color: #FF0042;
  border-radius: 2px;
  padding: 0 10px;
}

.menu__item,
.user-actions__item {
  font-size: 14px;
}
