$blue:      #1A60A8;
$lightblue: #1E87F0;
$dark:      #101419;
$white:     #FFFFFF;
$darksnow:  #E0E4EA;
$grey:      #B6BCC6;
$darkgrey:  #374456;
$black:     #000000;
$red:       #FF0042;
$indicator: #F0506E;
$offwhite:  transparentize($white, 0.46);
$header:    linear-gradient(135deg, $blue 0%,#134577 60%, #101419 100%);