@import "colors";
@import "mixins";

body {
    background-color: darken($white, 4%);
}

ul {
    margin: 0;
    padding: 0;

    > li {
        &:not(.list__item--bullets) {
            list-style-type: none;
        }
    }
}

a {
    color: inherit;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
    box-shadow: none;
    user-select: none;
    text-align: center;
    background-color: inherit;
}

.button {
    height: 36px;
    border-radius: 2px;
    padding: 0 10px;

    &--red {
        color: $white;
        background-color: $red;
        @include transition(background-color);
        
        &:hover,
        &:focus {
            cursor: pointer;
            background-color: darken($red, 6%);
        }
    }
}

.link {
    cursor: pointer;
    text-decoration: none;

    &--light {
        color: $white;
    }

    &--dark {
        color: $dark;
    }

    &--offwhite {
        color: $offwhite;

        &:hover,
        &:focus,
        &.active {
            color: $white;
        }
    }

    @include transition(color);
}

.mid {
    @include flexV(center,center);
}

.circle {
    border-radius: 50%;
}

// No Text Select
.no-select {
    user-select: none;
}

.indicator {
    color: $white;
    background: $indicator;
    text-align: center;
    border-radius: 8px;
    
    &--small {
        width: 26px;
        height: 12px;
        font-size: 9px;
        line-height: 1.4;
    }
    
    &--rounded {
        width: 16px;
        height: 16px;
        font-size: 9px;
        border-radius: 50%;
    }
}

// Switch
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;

    > input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $lightblue;
        }
          
        &:checked + .slider:before {
            transform: translateX(24px);
        }
    }

    > .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grey;
        border-radius: 12px;
        transition: transform $normal ease, background-color $normal ease;

        &:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 2px;
            bottom: 2px;
            border-radius: 50%;
            background-color: $white;
            transition: transform $normal ease;
        }
    }
}

.loader {
    display: block;
    border: 2px solid $darksnow;
    border-top: 2px solid $lightblue; 
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($white, 0.12);
    color: $black;
    @include flexH(center,center);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
}