@import "colors";
@import "mixins";

ul {
    margin: 0;
    padding: 0;

    > li {
        &:not(.list__item--bullets) {
            list-style-type: none;
        }
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 12px;
    cursor: pointer;
}

.button {
    height: 36px;
}

.link {
    text-decoration: none;

    &--light {
        color: $white;
    }

    &--dark {
        color: $dark;
    }
}

.mid {
    @include flexV(center,center);
}

.circle {
    border-radius: 50%;
}

.indicator {
    color: $white;
    background: $indicator;
    font-size: 9px;
    font-weight: 700;
    text-align: center;

    &:not(.indicator--rounded) {
        width: 26px;
        height: 12px;
        border-radius: 8px;
    }
    
    &--rounded {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }
}