@import "colors";
@import "typography";
@import "mixins";
@import "generic";

.header-main {
    background-image: $header;
    @include flexH(center,flex-start);
    flex-wrap: wrap;
    
    @include viewport('desktop-up') {
        padding: 0 12px;
    }
    
    @include viewport('mobile-laptop') {
        padding: 0 10px;
    }

    @include viewport('mobile') {
        position: relative;
    }
}

.site-logo {
    @include viewport('tablet-laptop') {
        order: 1;    
    }

    @include viewport('mobile') {
        height: 100%;
        @include flexV(center,center);

        > svg {
            width: 24px;
            transform: scale(1.5);
            transform-origin: 0 50%;

            path:not(.logo__first-letter) {
                display: none;
            }
        }
    }
}

.menu {
    @include viewport('desktop-up') {
        width: calc(70% - 142px);
        height: 62px;
        margin-left: 20px;
    }

    @include viewport('tablet-laptop') {
        width: 100%;
        height: 36px;
        order: 3;
        position: relative;
        // border-top: 1px solid transparentize($white, 0.83);

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: -10px;
            width: calc(100% + 20px);
            height: 1px;
            background-color: transparentize($white, 0.83);
        }
    }

    @include viewport('phablet') {
        display: none;
    }

    &__wrapper {
        width: 100%;
        height: 100%;

        @include viewport('desktop-up') {
            @include flexH(center, flex-start);
        }
        
        @include viewport('tablet-laptop') {
            @include flexH(center, center);
        }
    }

    &__item {
        @include viewport('desktop-up') {
            margin: 0 0.5vw;
        }
        
        @include viewport('tablet-laptop') {
            margin: 0 0.8vw;
        }

        > a {
            &.active {
                color: $white;
            }

            + .indicator {
                display: inline-block;
                position: relative;
                top: -2px;
            }
        }
    }
}

.user-actions {
    &__wrapper {
        @include flexH(center, flex-end);
        
        @include viewport('desktop-up') {
            height: 62px;
            flex: 0 0 30%;
        }
        
        @include viewport('tablet-laptop') {
            order: 2;
            height: 62px;
        }

        @include viewport('mobile-laptop') {
            width: calc(100% - 122px);
            flex: 1;
        }
        
        @include viewport('phablet') {
            height: 52px;
        }
    }

    &__item {
        color: $white;
        @include flexH(center,center);
        
        &:not(:last-of-type) {
            margin: 0 0.25vw;
        }

        &:not(.deposit) {
            height: 36px;
            opacity: 0.87;
            @include transition(opacity);
            
            &:hover:not(.active),
            &.active {
                cursor: pointer;
                opacity: 1;
            }
        }

        &.search,
        &.contact,
        &.message {
            width: 36px;
        }

        &.search,
        &.user-offers {
            @media screen and (max-width: 640px) {
                display: none;
            }
        }

        &.deposit {
            margin-left: 8px;
        }

        .offers {
            @include flexH(center,center);
            background-color: #232B36;
            padding: 0;
            border-radius: 8px;
            @include transition(background-color);

            &:hover,
            &:focus {
                background-color: darken($blue, 18%);

                > .offers__text {
                    background-color: lighten($blue, 6%);
                }
            }
            
            &__icon {
                width: 36px;
                height: 36px;
                position: relative;
                border-radius: 8px;
            }

            &__indicator {
                position: absolute;
                top: -6px;
                right: -6px;
                text-indent: -2px;
            }

            &__text {
                color: $white;
                background-color: $blue;
                height: 100%;
                padding: 0 5px;
                border-radius: 0 8px 8px 0;
                @include transition(background-color);

                @include viewport('desktop-medium') {
                    display: none;
                }
                
                @include viewport('phablet') {
                    display: none;
                }
            }
        }

        &.balance {
            height: 100%;
            padding: 4px;
            
            @include viewport('mobile-up') {
                position: relative;
            }

            .balance-value {
                margin-right: 8px;
                white-space: nowrap;
            }
        }

        .account-details {
            position: absolute;
            width: 300px;
            background-color: $white;
            top: 100%;
            cursor: default;
            box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
                        0 3px 14px 2px rgba(0,0,0,0.12),
                        0 5px 5px -3px rgba(0, 0, 0, 0.2);

            @include viewport('mobile-up') {
                right: 0;
            }
            
            @include viewport('mobile') {
                right: 0;
                left: 0;
                margin: 0 auto;
            }

            &:before {
                content: "";
                position: absolute;
                top: -8px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid $darksnow;
                
                @include viewport('mobile-up') {
                    right: 32px;
                }
                
                @include viewport('mobile') {
                    right: calc(50% - 40px);
                }
            }

            .view-mode,
            .user-basic-info,
            .user-account {
                @include flexH(center,space-between);
            }
            
            .view-mode,
            .details-list,
            .user-account {
                padding: 10px;
            }

            .view-mode {
                color: $dark;
                background-color: $darksnow;

                &__label {
                    @include flexH(center,flex-start);

                    > svg { width: 24px; }
                }
            }

            .details-list {
                > li {
                    @include flexH(center,space-between);
                    flex-wrap: wrap;
                    margin: 6px 0;
                    font-size: 12px;
                }

                &__property {
                    color: $dark;

                    &:not(.bold) {
                        font-weight: 400;
                    }

                    &--blue {
                        color: $lightblue;
                    }
                }

                &__value {
                    height: 20px;
                    font-weight: 700;
                    color: transparentize($dark, 0.46);

                    &--em {
                        color: $dark;
                        font-size: 14px;
                    }
                }

                &.user-data {
                    border-top: 1px solid $darksnow;
                    border-bottom: 1px solid $darksnow;
                }

                > .bonus-container {
                    .indicator {
                        font-weight: 400;
                        padding: 1px 6px;
                        margin-left: 5px;
                    }
                    
                    .bonus__progress-bar {
                        width: 100%;
                        height: 22px;
                        position: relative;
                        @include flexH(center,flex-start);
                        margin-top: 5px;

                        > span[class*=icon-] {
                            position: absolute;
                            width: 20px;
                            height: 20px;
                            top: 1px;
                        }

                        > .icon-locker {
                            left: calc(45% - 20px);
                        }

                        > .icon-coins {
                            right: 0;
                        }

                        > progress[value] {
                            -webkit-appearance: none;
                            appearance: none;
                            width: 100%;
                            height: 12px;
                            border: 2px solid $black;
                            border-radius: 8px;


                            &::-webkit-progress-bar {
                                background-color: $black;
                                border-radius: 8px;
                                overflow: hidden;
                            }

                            &::-webkit-progress-value {
                                background-color: $lightblue;
                            }
                        }
                    }
                }
            }

            .user-basic-info {
                .details-list__value {
                    @include flexH(center,center);
                }

                .amount-refresh {
                    width: 32px;
                    height: 24px;

                    > svg > #refresh_opacity {
                        @include transition('opacity');
                    }
                    
                    > svg #refresh_color {
                        transition: fill $short ease;
                    }

                    &:hover {
                        > svg > #refresh_opacity {
                            opacity: 1;
                        }
                        
                        > svg #refresh_color {
                            fill: $lightblue;
                        }
                    }
                }
            }

            .user-account {
                &__enter {
                    width: calc(100% - 42px);
                    border: 1.5px solid $dark;
                    border-radius: 2px;
                    padding: 8px 0;
                    transition: color $short ease, border $short ease;

                    &:hover,
                    &:focus {
                        color: $lightblue;
                        border-color: $lightblue;
                    }
                }

                &__logout {
                    &:hover {
                        svg g {
                            fill: $lightblue;
                        }
                    }
                }
            }
        }
    }
}

.menu__item,
.user-actions__item {
    font-size: 14px;
}